body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: 7em;
}

.span {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem 0;
  width: 6.3em;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
